<div class="team-member">
  <h1>Victor Oshiomah</h1>
  <p>Victor Oshiomah is my name and I'm in the MS in Software Engineering program. I'm from Nigeria and lived there till I moved here for school in the fall of 2022.</p>

    <p>I did not have any professional programming experience prior to this ms program, but I've now taken Python, Java 1 & 2 classes here at St. Thomas and I've done some personal study and projects using HTML, CSS & JavaScript. In my free time, I play the guitar and piano, watch or play soccer, read biographies.</p>
</div>

<div class="team-member">
  <h1>Luke Evenson</h1>
  <p>My name is Luke Evenson and I am in the Data Science graduate program. I have lived in Minnesota my whole life and obtained my undergradute in Data Analytics at UST as well.</p>

  <p>While I have some prior experience in back-end professional programming, this class marks my first introduction to front-end development. Outside of working with data or programming, I enjoy playing sports and spending time with friends and family.</p>
</div>

<div class="team-member">
  <h1>Ray Baldwin</h1>
  <p>My name is Ray Baldwin, and I am in the Software Engineering graduate program. I was born and raised in Portland, Oregon, and have been living now in Minnesota for 2.5 years. I have programming experience in Java, and I am currently learning Python. I do have a bit of past experience with HTML and CSS. Outside of work and school, I enjoy spending time with family and friends, as well as spending time outdoors.</p>
</div>
