nav {
  font-family: sans-serif;
  color: #23395d;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30rem;
}

.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

nav option{
  text-align: center;
}

#abt-us {
  font-size: 18px;
  padding-top: 5px;
}

select {
  background-color: #23395d;
  color: white;
  font-size: 15px;
  height: 30px;
  border-radius: 0.2rem;
  border: 1px solid #23395d;
}

.nav-btn {
  background-color: #23395d;
  color: white;
  border-radius: 0.2rem;
  border: 1px solid #23395d;
  font-size: 15px;
  padding: 4px 12px 4px 12px;
  cursor: pointer;
}

app-footer {
  margin-top: auto;
}
