<!-- <app-home></app-home> -->
<nav class="main-nav">
  <div class="logo">ExpenseTracker</div>
  <div>
    <ul>
      <li id="abt-us">About Us</li>
      <li>
        <select (change)="onSelectChange($event)" name="" id="">
          <option value="">Expenses</option>
          <option value="expense-entry">Expense Entry</option>
          <option value="expense-table">Expense Table</option>
        </select>
      </li>
      <button class="nav-btn">Budget Dashboard</button>
    </ul>
  </div>
</nav>
<router-outlet />
<app-footer></app-footer>
