<div class="tbl-container">
  <table class="expense-table">
    <thead>
    <tr>
      <th class="tbl-header">ID</th>
      <th class="tbl-header">Date</th>
      <th class="tbl-header">Amount</th>
      <th class="tbl-header">Category</th>
      <th class="tbl-header">Method</th>
      <th class="tbl-header">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr class="tbl-row" *ngFor="let exp of expenses">
      <td class="tbl-cell">{{ exp.id }}</td>
      <td class="tbl-cell">{{ exp.date }}</td>
      <td class="tbl-cell">{{ '$ ' + exp.amount }}</td>
      <td class="tbl-cell">{{ exp.category }}</td>
      <td class="tbl-cell">{{ exp.method }}</td>
      <td class="tbl-cell">
        <img class="edit-icon" [src]="'/assets/edit.png'" (click)="editExpense(exp.id)" alt="Edit icon. Attribution: https://www.flaticon.com/free-icons/edit">
      </td>
    </tr>
    </tbody>
  </table>
</div>

