main {
  font-family: sans-serif;
  color: #23395d;
  text-align: center;
}

.hero {
  text-align: center;
  margin-top: 8rem;
}

.hero-title {
  font-size: 28px;
}

.hero-p h3 {
  font-size: 25px;
  font-weight: lighter;
}

.benefits {
  margin-top: 8rem;
  margin-bottom: 3.6rem;
  padding-right: 3rem;
}

.ben-title h2 {
  font-size: 35px;
  padding-left: 3.5rem;
}

.ben-ex {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}

.home-icon{
  width: 5rem;
  height: 5rem;
}

article p {
  text-wrap: balance;
  font-size: 18px;
}
